@model SalesWebMVC.Models.Department

@{
    ViewData["Title"] = "Remover departamento";
    ViewData["DeleteMsg"] = "Tem certeza que deseja deletar esse departamento ?";
    ViewData["BackBtn"] = "Voltar";
    ViewData["DeleteBtn"] = "Remover";

}

<h1>@ViewData["Title"]</h1>
<h5>@ViewData["DeleteMsg"]</h5>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@ViewData["DeleteBtn"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">@ViewData["BackBtn"]</a>
    </form>
</div>
