@model IEnumerable<SalesWebMVC.Models.Department>

@{
    ViewData["Title"] = "Departamentos";
    ViewData["CreateBtn"] = "Novo";
    ViewData["EditBtn"] = "Editar";
    ViewData["DetailsBtn"] = "Detalhes";
    ViewData["DeleteBtn"] = "Remover";

}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">@ViewData["CreateBtn"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">@ViewData["EditBtn"]</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">@ViewData["DetailsBtn"]</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">@ViewData["DeleteBtn"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
