@model SalesWebMVC.Models.Seller
@{
    ViewData["Title"] = "Remover Vendedor";
    ViewData["DeleteMsg"] = "Tem certeza que deseja deletar esse departamento ?";
    ViewData["BackBtn"] = "Voltar";
    ViewData["DeleteBtn"] = "Remover";
}

<h1>@ViewData["Title"]</h1>

<h4><strong><em>@ViewData["DeleteMsg"]</em></strong></h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="@ViewData["DeleteBtn"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">@ViewData["BackBtn"]</a>
    </form>
</div>